* {
    box-sizing: border-box;
    z-index: 100;
}

// переменные
// var(--color-blue); - пример для использования

:root {
    --color-white: #fff;
    --color-violet: #4c328c;
    --color-pink: #dc4c94;
    --color-blue: #10069F;
    --main-font: 'Montserrat', sans-serif; // шрифт по умолчанию
    --main-color: #2c2c2c; // цвет по умолчанию
    --main-font-size: 16px; // размер шрифта по умолчанию
    --color-grey: #a6a6a6;
    --color-orange: #FF7500;
}
a {
    text-decoration: none !important;
    color: inherit;
}

.hidden {
    display: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.plus_button {
    display: none;
    background: var(--color-orange);
    color: var(--color-white);
    font-weight: bold;
    font-size: 13px;
    padding: 12px 20px;
    border-radius: 24px;
    //max-width: 137px;
    margin: 0 auto 0;
}

html {
    background-color: var(--color-white);
}
.wrapper {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    overflow-x: hidden;
    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    background: var(--color-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
body {
    font-family: var(--main-font), sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--main-font-size);
    color: var(--main-color);
}
img {
    max-width: 100%;
    display: block;
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.mob-scroll {
    overflow-x: scroll;
}

.section {
    max-width: 100%;
    width: 100%;
    position: relative;
    padding: 0 16px;

    &__content {
        max-width: 1200px;
        margin: 0 auto;
    }
}

._1 {
    height: 100vh;
    background-color: #7b1fa2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
  }

  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
  }

  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
  }

  .menu-btn span::before {
    transform: translateY(-5px);
  }

  .menu-btn span::after {
    transform: translateY(5px);
  }
  
  .menu-btn_active span:before {
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left bottom;
  }

  .menu-btn_active span:after {
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left top;
  }

  .menu-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-nav a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: normal;
    display: inline-block;
    margin-right: 20px;
    transition: 1s;
  }

  .menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .menu-nav_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
  }


@media (max-width: 768px) {
    
}